body {
	text-align: center;
	color: white;
	background-size: 50px 50px;
	background-color: rgb(228, 228, 228);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	-pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
}
h1 {
	font-family: Flavors;
	color: black;
	font-size: 40px;
	margin: 10px 0 0px 0;
}
input {
	margin: 0 0 25px 0;
	font-size: 15px;
	padding: 0;
}
svg {
	border: 8px solid rgb(29, 29, 29);
	box-shadow: 0px 32px 92px black;
}
div#head {
height: 40px;
background-color: black;
margin: -8px;
}
input#bgcolor, input#leafcolor,input#branchcolor {
	width: 20px;
	height: 20px;
	margin: 10px;
}
input#size {
	width: 60px;
	margin: 10px;
}
div#loading{
	color: black;
	font-size: 30px;
}
